html,
body {
    height: 100%;
    margin: 0;
    background-image: url("../imagenes/posible_fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
    position: relative;
}

.click-cursor {
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url("../imagenes/cursor/correjido-puntero.cur");
    background-size: cover;
    pointer-events: none;
    z-index: 1000;
}

body {
    background-color: rgb(2, 14, 27);
    cursor: none;
}

#contenedor-titulo {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    background-color: rgb(19, 16, 16);
}

#titulo {
    margin-top: 0;
    margin-left: 40%;
    padding: 2%;
    color: rgb(223, 199, 17);
}

#barra-lateral {
    margin-top: 0;
    width: 200px;
    height: 60%;
    background-image: url("../imagenes/poste-barber-retocado.png");
    background-size: cover;
    color: rgb(225, 243, 104);
    padding: 20px;
    position: absolute;
    left: -220px;
    transition: left 0.3s;
    cursor: none;

}

#barra-lateral:hover {
    left: 0;
    cursor: none;
}

#barra-lateral ul {
    list-style-type: none;
    padding-left: 0;
}

.lista {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    cursor: none;

}

.lista:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
    cursor: none;
}

#reserva,
#regsitrarse-boton,
#mostrar-precios {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(211, 198, 14);
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: none;
}

#reserva:hover,
#regsitrarse-boton:hover,
#mostrar-precios:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: none;
}
#barra-lateral a {
    text-decoration: none; 
}